* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    background: #F5F5F5;
    width: 100%;
    font-family: Roboto;
}

#bg_img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
}

.up_img {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url(../img/signup.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.in_img {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url(../img/signin.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#textbox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

.left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
}

.right {
    width: 50%;
    height: 100%;
    background: #F2F2F2;
    right: 0;
    position: absolute;
}

#frame {
    width: 250px;
    margin: 0 auto;
    top: 50%;
    margin-top: -162px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.left #frame {
    margin-top: -232px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    color: #03A9F4;
}

#frame > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
    margin-bottom: 30px;
}

.items {
    height: 65px;
    margin-top: -10px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.item_label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.items.focused .item_label {
    opacity: 1;
    transform: scale(0.75);
    color: #03A9F4 !important;
}

.items input {
    border-bottom: 1px solid #cdcdcd;
    color: #959595;
    font-size: 14px;
    width: 100%;
    resize: none;
    max-height: 20px;
    outline: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    margin-top: 20px !important;
    background: none;
    border-top: 0;
    overflow: hidden;
    transition: border .2s;
}

.left form input {
    border-bottom: 1px solid #45494C;
}

.left .item_label {
    color: #959595;
}

.error {
    font-size: 16px;
    color: #959595;
    height: 18px;
}

.btn {
    width: auto;
    float: right;
    background: #03A9F4;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0 !important;
    line-height: 16px;
    text-transform: uppercase;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    transition-duration: 0.25s;
    transition-property: background-color, box-shadow;
    border: 0;
}

.btn:hover {
    background: #0288D1;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

#moveleft, #moveright {
    width: auto;
    float: right;
    background: none;
    padding: 10px 16px;
    font-family: Roboto;
    font-size: 14px;
    color: #03A9F4;
    font-weight: 600;
    margin: 0 10px !important;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    transition-duration: 0.25s;
    transition-property: background-color;
    border: 0;
    outline: 0;
}

#moveleft:hover {
    background: #eee;
}

#moveright:hover {
    background: #363A3D;
}

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    padding: 5px 0 0 5px;
}

.refreshicon {
    fill: #d3d3d3;
    transform: rotate(0deg);
    transition: fill .25s ease, transform .25s ease;
}

.refreshicon:hover {
  cursor: pointer;
  fill: #1059FF;
  transform: rotate(180deg);
}